/dts-v1/;
/include/ "ni-zynq.dtsi"

/* NIDEVCODE 78C7 */
/* NIDEVCODE 78B9 */

/ {
	model = "NI Bluefin";
	compatible = "ni,zynq", "xlnx,zynq-7000";

	leds {
		compatible = "gpio-leds";

		/* LED_STATUSy on GPIO46 */
		status {
			label = "nilrt:status:yellow";
			gpios = <&gpio0 46 0>;
			default-state = "on";
		};

		/* LED_ACTIVEg on GPIO47 */
		active {
			label = "nilrt:active:green";
			gpios = <&gpio0 47 0>;
			default-state = "off";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;

		/* Reset switch is on GPIO48 */
		reset_sw@0 {
			label = "reset_sw";
			gpios = <&gpio0 48 1 /* GPIO_ACTIVE_LOW */>;
			linux,code = <408>; /* KEY_RESTART */
			gpio-key,wakeup;
		};
	};

	gpio_restart {
		compatible = "gpio-restart";

		/* ~PS_FORCE_RESET is on GPIO44 */
		gpios = <&gpio0 44 1 /* GPIO_ACTIVE_LOW */>;
		priority = <200>;
	};
};

&i2c0 {
	/* Override ni-zynq.dtsi; we do not have a CPLD at 0x40. */
	nicpld@40 {
		status = "disabled";
	};

	tmp451@4C {
		compatible = "ti,tmp451";
		reg = <0x4C>;
		vcc-supply = <&regulator_vccpint>;
	};
};

&gem0 {
	status = "okay";
	#address-cells = <0x1>;
	#size-cells = <0x0>;

	fixed-link {
		speed = <1000>;
		full-duplex;
		reg = <0>;
	};

	mdio0: mdio {
		status = "okay";
	};
};

&mdio0 {
	#address-cells = <1>;
	#size-cells = <0>;

	switch: switch@0 {
		compatible = "marvell,mv88e6085";
		reg = <0x0>;
		status = "okay";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				label = "cpu";
				phy-mode = "rgmii-id";
				ethernet = <&gem0>;
				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};

			port@1 {
				reg = <1>;
				label = "sw0";
				phy-handle = <&swphy1>;
			};

			port@2 {
				reg = <2>;
				label = "sw1";
				phy-handle = <&swphy2>;
			};
		};

		mdio {
			swphy1: ethernet-phy@11 {
				reg = <0x11>;
			};

			swphy2: ethernet-phy@12 {
				reg = <0x12>;
			};

			swphy3: ethernet-phy@13 {
				reg = <0x13>;
			};

			swphy4: ethernet-phy@14 {
				reg = <0x14>;
			};
		};
	};
};

&uart1 {
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "host";
};

&watchdog0 {
	status = "okay";
	reset-on-timeout;
};
