/dts-v1/;
/include/ "ni-zynq.dtsi"

/* NIDEVCODE 76F2 */

/ {
	model = "NI roboRIO";
	compatible = "ni,zynq", "xlnx,zynq-7000";

	aliases {
		spi0 = &spi0;
		spi1 = &spi1;
	};

	amba@0 {
		adc: adc@f8007100 {
			xlnx,channels {
				#address-cells = <1>;
				#size-cells = <0>;
				/* Channel 0 maps to VPVN */
				channel@0 {
					reg = <0>;
					xlnx,extend-name = "vin_v";
				};
				/* Channel 1 maps to VAUX0 */
				channel@1 {
					reg = <1>;
					xlnx,extend-name = "vin_c";
				};
				/* Channel 2 maps to VAUX1 */
				channel@2 {
					reg = <2>;
					xlnx,extend-name = "user5v_v";
				};
				/* Channel 3 maps to VAUX2 */
				channel@3 {
					reg = <3>;
					xlnx,extend-name = "user5v_c";
				};
				/* Channel 4 maps to VAUX3 */
				channel@4 {
					reg = <4>;
					xlnx,extend-name = "user3v3_v";
				};
				/* Channel 5 maps to VAUX4 */
				channel@5 {
					reg = <5>;
					xlnx,extend-name = "user3v3_c";
				};
				/* Channel 9 maps to VAUX8 */
				channel@9 {
					reg = <9>;
					xlnx,extend-name = "user6v_c";
				};
				/* Channel 10 maps to VAUX9 */
				channel@10 {
					reg = <10>;
					xlnx,extend-name = "bist_ao_v";
				};
				/* Channel 11 maps to VAUX10 */
				channel@11 {
					reg = <11>;
					xlnx,extend-name = "bist_dio_v";
				};
				/* Channel 12 maps to VAUX11 */
				channel@12 {
					reg = <12>;
					xlnx,extend-name = "user6v_v";
				};
			};
		};

		i2c0: i2c@e0004000 {
			nicpld@40 {
				watchdogs {
					boot-watchdog {
						interrupt-parent = <&gpio>;
						interrupts = <24 2 /* IRQ_TYPE_EDGE_FALLING */>;
					};
				};

				leds {
					status-1 {
						label = "nilrt:status:yellow";
						max-brightness = <0xFFFF>;
					};
				};
			};
		};

		i2c1: i2c@e0005000 {
			status = "okay";
		};

		i2c2: i2c@81000000 {
			status = "okay";
		};

		spi0: spi@e0006000 {
			status = "okay";
			num-cs = <7>;
			is-decoded-cs = <1>;
			speed-hz = <200000000>;

			spidev@0 {
                                compatible = "spidev";
                                spi-max-frequency = <2000000>;
                                reg = <0>;
			};
			spidev@1 {
                                compatible = "spidev";
                                spi-max-frequency = <2000000>;
                                reg = <1>;
			};
			spidev@2 {
                                compatible = "spidev";
                                spi-max-frequency = <2000000>;
                                reg = <2>;
			};
			spidev@3 {
                                compatible = "spidev";
                                spi-max-frequency = <2000000>;
                                reg = <3>;
			};
		};

		spi1: spi@e0007000 {
			status = "okay";
			num-cs = <3>;
			is-decoded-cs = <0>;
			speed-hz = <200000000>;

			spidev@0 {
                                compatible = "spidev";
                                spi-max-frequency = <2000000>;
                                reg = <0>;
			};
		};
	};
};

&gem0 {
	status = "okay";
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";
	emio-speed-gpios = <&gpio 54 0>,
			   <0>;
	#address-cells = <0x1>;
	#size-cells = <0x0>;

	phy0: phy@0 {
		compatible = "smsc,lan8720";
		device_type = "ethernet-phy";
		reg = <0x0>;
		/* Interrupt pin is connected from PL pin to FPGA IRQ 3 */
		interrupts = <0 32 4>;
	};
};

&ni_uart0 {
	status = "okay";
	transceiver = "RS-232";
};

&ni_uart1 {
	status = "okay";
	transceiver = "RS-232";
};

&uart0 {
	status = "okay";
};

&can0 {
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "host";
};

&usb1 {
	status = "okay";
	dr_mode = "peripheral";
};

&clkc {
	/* Enable fclk1 for serial. */
	fclk-enable = <0x2>;
};
