#
# Atmel device configuration
#

config NET_CADENCE
	bool "Cadence devices"
	depends on HAS_IOMEM
	default y
	---help---
	  If you have a network (Ethernet) card belonging to this class, say Y.
	  Make sure you know the name of your card. Read the Ethernet-HOWTO,
	  available from <http://www.tldp.org/docs.html#howto>.

	  If unsure, say Y.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the remaining Atmel network card questions. If you say Y, you will be
	  asked for your specific card in the following questions.

if NET_CADENCE

config MACB
	tristate "Cadence MACB/GEM support"
	depends on HAS_DMA
	select PHYLIB
	---help---
	  The Cadence MACB ethernet interface is found on many Atmel AT32 and
	  AT91 parts.  This driver also supports the Cadence GEM (Gigabit
	  Ethernet MAC found in some ARM SoC devices).  Say Y to include
	  support for the MACB/GEM chip.

	  To compile this driver as a module, choose M here: the module
	  will be called macb.

config MACB_DEVICE_POLL
	bool "Device polling for Cadence MACB ethernet"
	default n
	depends on MACB
	select NETDEV_POLL
	---help---
		Say Y if you want the ability to use polling instead of interrupts
		on the Cadence MACB interface.

		If unsure, say N.

config MACB_MARVELL_DEMUX
	bool "Cadence MACB Marvell switch PTP demux support"
	default n
	depends on MACB
	---help---
	  Say y if you have a Marvell switch using DSA tags attached to the
	  macb hardware, and would like PTP to work.  The driver will demux DSA
	  tagged PTP frames and send them to the network stack with the PTP
	  ethertype and DSA header intact.

	  If unsure, say N.

endif # NET_CADENCE
