/dts-v1/;
/include/ "ni-zynq.dtsi"

/* NIDEVCODE 7885 */

/ {
	model = "NI ELVIS RIO CM";
	compatible = "ni,zynq", "xlnx,zynq-7000";

	amba@0 {
		gpio: gpio@e000a000 {
			/* You can specify GPIO settings here:
			 *
			 *  gpioN-label      String label.
			 *  gpioN-direction  "input" or "output".
			 *  gpioN-settings   "output" - specifies the GPIO state as "high"
			 *                              or "low".
			 *                   "input"  - specifies GPIO interrupt settings as
			 *                              "none", "level-low", "level-high",
			 *                              "edge-falling", "edge-rising", or
			 *                              "edge-both".
			 */

			/* GPIO24 (MIO24) */
			gpio24-label     = "wdt_interrupt";
			gpio24-direction = "input";
			gpio24-settings  = "edge-falling";
		};

		i2c0: i2c@e0004000 {
			nicpld@40 {
				watchdogs {
					boot-watchdog {
						interrupt-parent = <&gpio>;
						interrupts = <24 0>;
					};
				};

				leds {
					status-1 {
						label = "nilrt:status:yellow";
						max-brightness = <0xFFFF>;
					};
				};
			};
		};
	};
};

&ni_uart0 {
	status = "okay";
	transceiver = "RS-232";
};

&ni_uart1 {
	status = "okay";
	transceiver = "RS-232";
};

&usb0 {
	status = "okay";
	dr_mode = "host";
};

&usb1 {
	status = "okay";
	dr_mode = "peripheral";
};

&clkc {
	/* Enable fclk1 for serial. */
	fclk-enable = <0x2>;
};
