/dts-v1/;
/include/ "ni-zynq.dtsi"

/* NIDEVCODE 762F */

/ {
	model = "NI myRIO";
	compatible = "ni,zynq", "xlnx,zynq-7000";

	amba {
		gpio: gpio@e000a000 {
			/* You can specify GPIO settings here:
			 *
			 *  gpioN-label      String label.
			 *  gpioN-direction  "input" or "output".
			 *  gpioN-settings   "output" - specifies the GPIO state as "high"
			 *                              or "low".
			 *                   "input"  - specifies GPIO interrupt settings as
			 *                              "none", "level-low", "level-high",
			 *                              "edge-falling", "edge-rising", or
			 *                              "edge-both".
			 */

			/* GPIO1 (MIO1) */
			gpio1-label     = "phy_interupt";
			gpio1-direction = "input";
			gpio1-settings  = "level-low";

			/* GPIO15 (MIO15) */
			gpio15-label     = "wake_interrupt";
			gpio15-direction = "input";
			gpio15-settings  = "level-low";

			/* GPIO24 (MIO24) */
			gpio24-label     = "wdt_interrupt";
			gpio24-direction = "input";
			gpio24-settings  = "edge-falling";

			/* GPIO25 (MIO25) */
			gpio25-label     = "wifi_btn_interrupt";
			gpio25-direction = "input";
			gpio25-settings  = "edge-falling";
		};

		i2c0: i2c@e0004000 {
			nicpld@40 {
				watchdogs {
					boot-watchdog {
						interrupt-parent = <&gpio>;
						interrupts = <24 0>;
					};
				};

				switches {
					wifi-switch {
						interrupt-parent = <&gpio>;
						interrupts = <25 0>;
					};
				};

				leds {
					status-1 {
						label = "nilrt:status:yellow";
						max-brightness = <0xFFFF>;
					};
					wifi-0 {
						label = "nilrt:wifi:primary";
					};
					wifi-1 {
						label = "nilrt:wifi:secondary";
					};
				};
			};
		};
	};
};

&sdhci0 {
	status = "okay";

	/* We must force the SDHCI into test mode, so that it
	 * always pretends to have a card present. This is to
	 * work-around a hardware bug where TiWi WiFi does not
	 * have its CD line connected correctly. */
	force-sd-cd-test-mode = <1>;

	non-removable = <1>;

	wl12xx: wl12xx@0 {
		compatible = "ti,wilink6";
		interrupt-parent = <&gpio>;
		interrupts = <15 0x4>;
		clocks = <&refclock>;
		clock-names = "refclock";

		refclock: refclock {
			compatible = "ti,wilink-clock";
			#clock-cells = <0>;
			clock-frequency = <38400000>;
		};
	};
};

&ni_uart0 {
	status = "okay";
	transceiver = "RS-232";
};

&ni_uart1 {
	status = "okay";
	transceiver = "RS-232";
};

&usb0 {
	status = "okay";
	dr_mode = "host";
};

&usb1 {
	status = "okay";
	dr_mode = "peripheral";
};

&clkc {
	/* Enable fclk1 for serial. */
	fclk-enable = <0x2>;
};
