/dts-v1/;
/include/ "ni-zynq.dtsi"

/* NIDEVCODE 76F2 */

/ {
	model = "NI roboRIO";
	compatible = "ni,zynq", "xlnx,zynq-7000";

	amba {
		gpio: gpio@e000a000 {
			/* You can specify GPIO settings here:
			 *
			 *  gpioN-label      String label.
			 *  gpioN-direction  "input" or "output".
			 *  gpioN-settings   "output" - specifies the GPIO state as "high"
			 *                              or "low".
			 *                   "input"  - specifies GPIO interrupt settings as
			 *                              "none", "level-low", "level-high",
			 *                              "edge-falling", "edge-rising", or
			 *                              "edge-both".
			 */

			/* GPIO24 (MIO24) */
			gpio24-label		= "wdt_interrupt";
			gpio24-direction	= "input";
			gpio24-settings		= "edge-falling";

			/* GPIO54 (EMIO0) */
			gpio54-label		= "eth0_link_speed";
			gpio54-direction	= "output";
			gpio54-settings		= "high";

			/* GPIO55 (EMIO1) */
			gpio55-label		= "phy_interrupt";
			gpio55-direction	= "input";
			gpio55-settings		= "level-low";

		};

		i2c0: i2c@e0004000 {
			nicpld@40 {
				watchdogs {
					boot-watchdog {
						interrupt-parent = <&gpio>;
						interrupts = <24 0>;
					};
				};

				leds {
					status-1 {
						label = "nilrt:status:yellow";
						max-brightness = <0xFFFF>;
					};
				};
			};
		};

		i2c1: i2c@e0005000 {
			status = "okay";
		};

		i2c2: i2c@81000000 {
			status = "okay";
		};

		spi0: spi@e0006000 {
			status = "okay";
			num-cs = <7>;
			is-decoded-cs = <1>;
			speed-hz = <200000000>;
			bus-num = <0>;

			spidev@0 {
                                compatible = "spidev";
                                spi-max-frequency = <2000000>;
                                reg = <0>;
			};
			spidev@1 {
                                compatible = "spidev";
                                spi-max-frequency = <2000000>;
                                reg = <1>;
			};
			spidev@2 {
                                compatible = "spidev";
                                spi-max-frequency = <2000000>;
                                reg = <2>;
			};
			spidev@3 {
                                compatible = "spidev";
                                spi-max-frequency = <2000000>;
                                reg = <3>;
			};
		};

		spi1: spi@e0007000 {
			status = "okay";
			num-cs = <3>;
			is-decoded-cs = <0>;
			speed-hz = <200000000>;
			bus-num = <1>;

			spidev@0 {
                                compatible = "spidev";
                                spi-max-frequency = <2000000>;
                                reg = <0>;
			};
		};
	};
};

&gem0 {
	status = "okay";
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";
	cdns,emio-gpio-speed-100 = <54>;
	#address-cells = <0x1>;
	#size-cells = <0x0>;

	phy0: phy@0 {
		compatible = "smsc,lan8720";
		device_type = "ethernet-phy";
		reg = <0x0>;
		/* Interrupt pin is connected from PL pin to FPGA IRQ 3 */
		interrupts = <0 32 4>;
	};
};

&ni_uart0 {
	status = "okay";
	transceiver = "RS-232";
};

&ni_uart1 {
	status = "okay";
	transceiver = "RS-232";
};

&uart0 {
	status = "okay";
};

&can0 {
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "host";
};

&usb1 {
	status = "okay";
	dr_mode = "peripheral";
};

&clkc {
	/* Enable fclk1 for serial. */
	fclk-enable = <0x2>;
};
