/dts-v1/;
/include/ "ni-zynq.dtsi"

/* NIDEVCODE 77D5 */

/ {
	model = "NI sbRIO-9627";
	compatible = "ni,zynq", "xlnx,zynq-7000";

	amba {
		gpio: gpio@e000a000 {
			/* You can specify GPIO settings here:
			 *
			 *  gpioN-label      String label.
			 *  gpioN-direction  "input" or "output".
			 *  gpioN-settings   "output" - specifies the GPIO state as "high"
			 *                              or "low".
			 *                   "input"  - specifies GPIO interrupt settings as
			 *                              "none", "level-low", "level-high",
			 *                              "edge-falling", "edge-rising", or
			 *                              "edge-both".
			 */

			/* GPIO1 (MIO1) */
			gpio1-label     = "wdt_interrupt";
			gpio1-direction = "input";
			gpio1-settings  = "edge-falling";

			/* GPIO25 (MIO25) */
			gpio25-label     = "phy_interrupt";
			gpio25-direction = "input";
			gpio25-settings  = "level-low";

			/* GPIO54 (EMIO0) */
			gpio54-label     = "eth0_link_speed_1000";
			gpio54-direction = "output";
			gpio54-settings  = "low";

			/* GPIO55 (EMIO1) */
			gpio55-label     = "eth1_link_speed_1000";
			gpio55-direction = "output";
			gpio55-settings  = "low";
		};

		i2c0: i2c@e0004000 {
			nicpld@40 {
				watchdogs {
					boot-watchdog {
						interrupt-parent = <&gpio>;
						interrupts = <1 0>;
					};
				};

				leds {
					user1-0 {
						label = "nilrt:user1:green";
					};
					status-0 {
						label = "nilrt:status:yellow";
						max-brightness = <0xFFFF>;
					};
					eth0-0 {
						label = "nilrt:eth0:green";
						linux,default-trigger =
						  "e000b000.etherne:00:100Mb";
					};
					eth0-1 {
						label = "nilrt:eth0:yellow";
						linux,default-trigger =
						  "e000b000.etherne:00:Gb";
					};
					eth1-0 {
						label = "nilrt:eth1:green";
						linux,default-trigger =
						  "e000b000.etherne:01:100Mb";
					};
					eth1-1 {
						label = "nilrt:eth1:yellow";
						linux,default-trigger =
						  "e000b000.etherne:01:Gb";
					};
				};
			};

			ds3231_rtc@68 {
				status = "okay";
			};
		};
	};
};

&gem0 {
	status = "okay";
	clocks = <&clkc 30>, <&clkc 13>, <&clkc 15>;
	clock-names = "pclk", "hclk", "tx_clk";
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";
	cdns,emio-gpio-speed-1000 = <54>;

	#address-cells = <0x1>;
	#size-cells = <0x0>;

	phy0: phy@0 {
		compatible = "micrel,KSZ9031";
		device_type = "ethernet-phy";
		reg = <0x0>;
		/* Interrupt on GPIO25, shared with phy1. */
		interrupts = <25 0>;
		interrupt-parent = <&gpio>;
	};

	phy1: phy@1 {
		compatible = "micrel,KSZ9031";
		device_type = "ethernet-phy";
		reg = <0x1>;
		/* Interrupt on GPIO25, shared with phy0. */
		interrupts = <25 0>;
		interrupt-parent = <&gpio>;
	};
};

&gem1 {
	status = "okay";
	clocks = <&clkc 31>, <&clkc 14>, <&clkc 17>;
	clock-names = "pclk", "hclk", "tx_clk";
	phy-handle = <&phy1>;
	phy-mode = "rgmii-id";
	cdns,no_mdio_bus;
	cdns,emio-gpio-speed-1000 = <55>;
};

&sdhci0 {
	status = "okay";
};

&sdhci1 {
	status = "okay";
};

&ni_uart0 {
	status = "okay";
	transceiver = "RS-232";
};

&ni_uart1 {
	status = "okay";
	transceiver = "RS-232";
};

&ni_uart2 {
	status = "okay";
	transceiver = "RS-485";
};

&ni_uart3 {
	status = "okay";
	transceiver = "RS-232";
};

&ni_uart4 {
	status = "okay";
	transceiver = "RS-232";
};

&ni_uart5 {
	status = "okay";
	transceiver = "RS-232";
};

&can0 {
	status = "okay";
};

&can1 {
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "host";
};

&usb1 {
	status = "okay";
	dr_mode = "peripheral";
};

&clkc {
	/* Enable fclk1 for serial. */
	fclk-enable = <0x2>;
};
