/dts-v1/;
/include/ "ni-zynq.dtsi"

/* NIDEVCODE 775E */

/ {
	model = "NI Tecate";
	compatible = "ni,zynq", "xlnx,zynq-7000";

	amba {

		gpio: gpio@e000a000 {
			/* You can specify GPIO settings here:
			 *
			 *  gpioN-label      String label.
			 *  gpioN-direction  "input" or "output".
			 *  gpioN-settings   "output" - specifies the GPIO state as "high"
			 *                              or "low".
			 *                   "input"  - specifies GPIO interrupt settings as
			 *                              "none", "level-low", "level-high",
			 *                              "edge-falling", "edge-rising", or
			 *                              "edge-both".
			 */

			/* GPIO1 (MIO1) */
			gpio1-label     = "eth0_phy_interrupt";
			gpio1-direction = "input";
			gpio1-settings  = "level-low";

			/* GPIO15 (MIO15) */
			gpio15-label     = "wdt_interrupt";
			gpio15-direction = "input";
			gpio15-settings  = "edge-falling";

			/* GPIO54 (EMIO0) */
			gpio54-label     = "eth0_link_speed";
			gpio54-direction = "output";
			gpio54-settings  = "low";

			/* GPIO55 (EMIO1) */
			gpio55-label     = "eth1_link_speed_1000";
			gpio55-direction = "output";
			gpio55-settings  = "low";

			/* GPIO56 (EMIO2) */
			gpio56-label     = "eth1_link_speed_100";
			gpio56-direction = "output";
			gpio56-settings  = "low";

			/* GPIO57 (EMIO3) */
			gpio57-label     = "eth1_phy_interrupt";
			gpio57-direction = "input";
			gpio57-settings  = "level-low";
		};

		i2c0: i2c@e0004000 {
			nicpld@40 {
				watchdogs {
					boot-watchdog {
						interrupt-parent = <&gpio>;
						interrupts = <15 0>;
					};
				};

				leds {
					user1-0 {
						label = "nilrt:user1:green";
					};
					status-0 {
						label = "nilrt:status:yellow";
						max-brightness = <0xFFFF>;
					};
					eth0-0 {
						label = "nilrt:eth0:green";
						linux,default-trigger =
						  "e000b000.etherne:00:100Mb";
					};
					eth0-1 {
						label = "nilrt:eth0:yellow";
						linux,default-trigger =
						  "e000b000.etherne:00:Gb";
					};
				};
			};

			ds3231_rtc@68 {
				status = "okay";
			};
		};
	};
};

&gem0 {
	status = "okay";

	/* No fpga_clk specified because we want our FPGA clock
	 * (fclk0) to always be 125 MHz. The bootloader sets
	 * fclk0 to 125 MHz and we just leave it like that. */

	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";
	#address-cells = <0x1>;
	#size-cells = <0x0>;

	cdns,emio-gpio-speed-1000 = <54>;

	phy0: phy@0 {
		compatible = "micrel,KSZ9031";
		device_type = "ethernet-phy";
		reg = <0x0>;
		/* Interrupt on GPIO1. */
		interrupts = <1 0>;
		interrupt-parent = <&gpio>;
	};
};

&gem1 {
	status = "okay";

	/* No fpga_clk specified because we want our FPGA clock (fclk0) to
	 * always be 125 MHz. The bootloader sets fclk0 to 125 MHz and we just
	 * leave it like that. */

	phy-handle = <&phy1>;
	phy-mode = "rgmii-id";
	#address-cells = <0x1>;
	#size-cells = <0x0>;

	cdns,emio-gpio-speed-1000 = <55>;
	cdns,emio-gpio-speed-100 = <56>;

	phy1: phy@1 {
		compatible = "micrel,KSZ9031";
		device_type = "ethernet-phy";
		reg = <0x1>;
		/* Interrupt on GPIO57. */
		interrupts = <57 0>;
		interrupt-parent = <&gpio>;
	};
};

&sdhci0 {
	status = "okay";
};

&ni_uart0 {
	status = "okay";
	transceiver = "RS-232";
};

&ni_uart1 {
	status = "okay";
	transceiver = "RS-232";
};

&ni_uart2 {
	status = "okay";
	transceiver = "RS-232";
};

&ni_uart3 {
	status = "okay";
	transceiver = "RS-232";
};

&ni_uart4 {
	status = "okay";
	transceiver = "RS-485";
};

&ni_uart5 {
	status = "okay";
	transceiver = "RS-485";
};

&can0 {
	status = "okay";
};

&can1 {
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "peripheral";
};

&usb1 {
	status = "okay";
	dr_mode = "host";
};

&clkc {
	/* Enable fclk0 for eth0 and eth1, fclk1 for serial. */
	fclk-enable = <0x3>;
};
