/dts-v1/;

/ {
	model = "NI Xilinx Zynq prototype";
	compatible = "xlnx,zynq-zc770-xm010";
	#address-cells = <0x1>;
	#size-cells = <0x1>;
	interrupt-parent = <&gic>;

	memory {
		device_type = "memory";
		reg = <0x00000000 0x40000000>;
	};
	chosen {
		bootargs = "console=ttyPS0,115200 ramdisk_size=65536 root=/dev/ram rw ip=:::::eth0:dhcp";
		linux,stdout-path = "/amba@0/uart@E0001000";
	};

	amba@0 {
		compatible = "simple-bus";
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		ranges;

		gic: intc@f8f01000 {
			interrupt-controller;
			compatible = "arm,cortex-a9-gic";
			reg = < 0xf8f01000 0x1000 >,
			      < 0xf8f00100 0x0100 >;
			#interrupt-cells = <0x3>;
			linux,phandle = <0x1>;
			phandle = <0x1>;
		};

		uart@e0001000 {
			compatible = "xlnx,ps7-uart-1.00.a";
			reg = <0xe0001000 0x1000>;
			interrupts = <0 50 0>;
			clock = <50000000>;
		};

		timer@0xf8001000 {
			compatible = "xlnx,ps7-ttc-1.00.a";
			interrupts = <0 10 0
				      0 11 0
				      0 12 0>;
			reg = < 0xf8001000 0x1000 >;
			clock-frequency = <111111000>;
		};

		eth@e000b000 {
			compatible = "xlnx,ps7-ethernet-1.00.a";
			reg = <0xe000b000 0x1000>;
			interrupts = <0 22 0>;
			phy-handle = <&phy0>;
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			/* SLCR GEM0_CLK_CTRL values for 1Gb (125MHz), 100Mb
			   (25MHz), and 10Mb (2.5MHz), assuming 1GHz IO PLL
			   clock. */
			tx_timing = <0x140 0x00100801 0x00500801 0x03200801>;

			phy0: phy@0 {
				compatible = "marvell,88e1512";
				device_type = "ethernet-phy";
				reg = <0x0>;
				/* Interrupt on GPIO1, shared with phy1. */
				interrupts = <1 0>;
				interrupt-parent = <&gpio>;
				/* Page 3, Register 16, LED[2:0] Function
				   Control Register */
				leds = <0x1881>;
			};

			phy1: phy@1 {
				compatible = "lsi,et1011c";
				device_type = "ethernet-phy";
				reg = <0x1>;
				/* Interrupt on GPIO1, shared with phy0. */
				interrupts = <1 0>;
				interrupt-parent = <&gpio>;
				/* LED Control 1 values for Off, 10Mb, 100Mb,
				   and 1Gb, followed by LED Control 2 values
				   for Off, 10Mb, 100Mb, and 1Gb, followed by
				   LED Control 3 value. */
				leds = <0x0001 0x0001 0x0001 0x8001 0xFAFE 0xFAFE 0xFAFF 0xFAEF 0x0A55>;
			};
		};

		eth@e000c000 {
			compatible = "xlnx,ps7-ethernet-1.00.a";
			reg = <0xe000c000 0x1000>;
			interrupts = <0 45 0>;
			phy-handle = <&phy1>;
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			/* GEM1 PHY is on the GEM0 MDIO bus. */
			no_mdio_bus;
			/* SLCR GEM1_RCLK_CTRL and GEM1_CLK_CTRL registers. */
			eth_emio_slcr = <0x13c 0x144>;
			/* SLCR FPGA1_CLK_CTRL values for 1Gb (125MHz), 100Mb
			   (25MHz), and 10Mb (2.5MHz), assuming 1GHz IO PLL
			   clock. */
			tx_timing = <0x180 0x00100801 0x00500801 0x03200801>;
		};

		nand@e1000000 {
			compatible = "xlnx,ps7-nand-1.00.a";
			reg = <0xE1000000 0x1000000 0xE000E000 0x1000>;
			bank-width = <1>; /* 8-bit width */

			/* <t_rr t_ar t_clr t_wp t_rea t_wc t_rc> in cycles, 95MHz clock */
			nand-chip-timing = <0x2 0x1 0x1 0x2 0x1 0x3 0x3>;

			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "fsbl";
				reg = <0x00000000 0x00020000>;	/* 128kB */
				read-only;
			};
			partition@20000 {
				label = "u-boot";
				reg = <0x00020000 0x00040000>;	/* 256kB */
				read-only;
			};
			partition@60000 {
				label = "u-boot_environment_1";
				reg = <0x00060000 0x00040000>;	/* 256kB */
			};
			partition@a0000 {
				label = "u-boot_environment_2";
				reg = <0x000a0000 0x00040000>;	/* 256kB */
			};			
			partition@e0000 {
				label = "safemode_kernel";
				reg = <0x000e0000 0x02800000>;	/* 40MB */
			};
			partition@28e0000 {
				label = "runmode_kernel";
				reg = <0x028e0000 0x00600000>;	/* 6MB */
			};
			partition@2ee0000 {
				label = "configuration_data";
				reg = <0x02ee0000 0x00400000>;	/* 4MB */
			};
			partition@32e0000 {
				label = "runmode_rootfs";
				reg = <0x032e0000 0x3CD20000>;	/* 973.125MB */
			};
		};

		usb@e0002000 {
			compatible = "xlnx,ps7-usb-1.00.a";
			reg = <0xe0002000 0x1000>;
			interrupts = <0 21 0>;
			dr_mode = "host";
			phy_type = "ulpi";
		};

		gpio: gpio@e000a000 {
			compatible = "xlnx,ps7-gpio-1.00.a";
			reg = <0xe000a000 0x1000>;
			#interrupt-cells = <0x2>;
			interrupt-controller;
			interrupts = <0 20 0>;
			#gpio-cells = <2>;
			gpio-controller;

			/* You can specify GPIO settings here:
			 *
			 *  gpioN-label      String label.
			 *  gpioN-direction  "input" or "output".
			 *  gpioN-settings   "output" - specifies the GPIO state as "high"
			 *                              or "low".
			 *                   "input"  - specifies GPIO interrupt settings as
			 *                              "none", "level-low", "level-high",
			 *                              "edge-falling", "edge-rising", or
			 *                              "edge-both".
			 */

			/* GPIO1 (MIO1) */
			gpio1-label     = "phy_interupt";
			gpio1-direction = "input";
			gpio1-settings  = "level-low";
		};

		i2c0: i2c@e0004000 {
			compatible = "xlnx,ps7-i2c-1.00.a";
			reg = <0xE0004000 0x1000>;
			interrupts = <0 25 0>;
			bus-id = <0>;
			input-clk = <133000000>;
			i2c-clk = <400000>;
			#address-cells = <1>;
			#size-cells = <0>;

			nizynqcpld@40 {
				compatible = "nizynqcpld";
				reg = <0x40>;
			};

			ds3231_rtc@68 {
				compatible = "ds3232";
				reg = <0x68>;
			};
		};

		devcfg@f8007000 {
			compatible = "xlnx,ps7-dev-cfg-1.00.a";
			reg = <0xf8007000 0x1000>;
			interrupts = <0 8 0>;
		};
	};
};
